@charset "UTF-8";
/*----------null----------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*---------ibg-----------*/
.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

/*---------start-----------*/

:root {
    --gray-1: #292B38;
    --gray-2: #2A2C39;
    --gray-3: #6B7091;
    --gray-4: #7E85AD;
    --gray-5: #AAB4EA;
    --blue-gray: #253861;
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
    /* ширина для вертикального скролла */
    height: 10px;
    /* высота для горизонтального скролла */
    background-color: var(--gray-1);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: var(--gray-2);
    border-radius: 9em;
    -webkit-box-shadow: inset 1px 1px 10px var(--gray-3);
    box-shadow: inset 1px 1px 10px var(--gray-3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-gray);
}

/* Стрелки */
.main {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.top-block {
    height: 88vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.top-block .top-block-left {
    height: 100%;
    width: 30%;
    background-color: #20222C;
    border-right: 1px solid #444B53;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-block-left-content {
    height: 90%;
    width: 90%;
    background-color: #1A1C25;
    overflow-y: auto;
}

.playlist {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.playlist__audio-card {
    height: 40px;
    width: 90%;
    margin-bottom: 5px;
    background-color: var(--gray-2);
    border-radius: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    color: var(--gray-3);
}

.playlist__audio-card:hover {
    cursor: pointer;
}

.top-block-right-top {
    height: 12vh;
}

.top-block-right-top-content .button.computer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.top-block-right-top-content {
    height: 100%;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.top-block-right-bottom {
    height: 76vh;
}

.top-block-right-bottom-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-block-right-bottom .cover {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--gray-2);
}

.top-block-right-bottom .cover img {
    height: 100%;
    width: 100%;
}

.button {
    width: 50px;
    height: 28px;
    background-color: var(--gray-4);
    border-radius: 5px;
}

.button.computer form {
    display: none;
}

.top-block-right-top-content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-block-right-top-content form input[type=search] {
    background-color: #7E85AD;
    color: white;
    font-size: 25px;
    border-radius: 14px;
    text-align: center;
    padding: 0 10px;
    margin-right: 10px;
}

.top-block-right-top-content form input[type=search]::-webkit-input-placeholder {
    color: #AAB4EA;
}

.top-block-right-top-content form input[type=search]:-ms-input-placeholder {
    color: #AAB4EA;
}

.top-block-right-top-content form input[type=search]::-ms-input-placeholder {
    color: #AAB4EA;
}

.top-block-right-top-content form input[type=search]::placeholder {
    color: #AAB4EA;
}

.top-block-right-top-content form input[type=search]:focus {
    background-color: #B9C5FF;
}

.top-block-right-top-content form input[type=search]:focus {
    color: #20222C;
}

.top-block-right-top-content form input[type=search]:hover {
    cursor: pointer;
}

.top-block-right-top-content form button {
    height: 28px;
    width: 48px;
    border-radius: 14px;
    background-color: #20222C;
}

.top-block-right-top-content form button {
    background-color: #7E85AD;
}

.top-block-right-top-content form input[type=submit] {
    background-color: #7E85AD;
    color: white;
    font-size: 25px;
    border-radius: 14px;
    color: black;
}

.top-block .top-block-right {
    height: 100%;
    width: 70%;
    background-color: #20222C;
}

.bottom-block {
    height: 12vh;
    width: 100%;
    background-color: #111218;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bottom-block-left {
    height: 100%;
    width: 30%;
    border-right: 1px solid #444B53;
}

.bottom-block-left-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottom-block-right-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.bottom-block-right {
    height: 100%;
    width: 70%;
}

.button-progress-container {
    width: 50%;
    height: 10px;
    background-color: #7E85AD;
    border-radius: 5px;
}

.button-volume-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 200px;
}

.button-volume-container-progress {
    width: 0px;
    height: 10px;
    border-radius: 5px;
    background-color: #7E85AD;
    -webkit-transition: width 1s;
    transition: width 1s;
    margin-left: 10px;
}

.button-volume-container-progress.open {
    width: 150px;
}

.volume-value {
    width: 0%;
    height: 100%;
    background-color: #444B53;
    border-radius: 5px;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #444B53;
    border-radius: 5px;
    position: relative;
}

.progress-dot {
    width: 20px;
    height: 20px;
    background-color: #444B53;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -10px;
    margin-top: -5px;
    margin-left: -5px;
}
